svg {
  border: solid 1px #aaa;
}

.slider-selection {
    background: #BABABA;
}

.border-box > .border-left,
.border-box > .border-bottom {
    fill: #DF9F6A;
}

.border-box > .background {
    fill: #DADADA;
}

.canvas > .background {
    fill: #EAEAEA;
}

.canvas > path {
    stroke: #656565;
    fill: none;
}

.x-rule line,
.y-rule line {
  stroke: #FAFAFA;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tick line{
  opacity: 0.2;
  stroke: black;
}

.domain {
  stroke: black;
}

.cursor {
  display: none;
}

.cursor-line {
  stroke-width: 2;
  stroke: black;
}

td {
  padding-top: 6px;
}
